<div class="container">
  <div
    class="alert alert-success alert-dismissible fade show mt-2 text-center"
    role="alert"
  >
    <strong>Hey ! </strong> Thank you for visiting my site.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="card mt-4" style="width: 18rem">
        <img
          src="../assets/images/prashanth.jpg"
          class="card-img-top"
          alt="my_photo"
        />
        <div class="card-body">
          <h5 class="card-title">Software Developer</h5>
          <p class="card-text">I am Prashanth Sagari</p>
          <p>
            Having 4.5+ years of experience in several aspects of design and
            development on JSE, JEE based system.
          </p>
          <p>
            Java Microservices Developer and maintenance of Microservices
            architecture applications using Spring Framework. Also have
            experience on VUE JS
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 mt-4">
      <app-pdfview></app-pdfview>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-md-9">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/yqzturATP6w"
        title="Hemavathi"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div> -->
</div>
